@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ExamProject_Test.Controllers
@model ExamProject_Test.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
    CoinGeckoController CGC = new();
    var coins = await CGC.GetTopTenCoins();
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Main Page</title>
</head>
<section class=hero>
            <div class="heroContent">
                <h1>Talald meg es kovesd a kedvenc <br> kriptoid vagy mit kell mondani</h1>
                <label for="heroSearch">crypto yeaaaah</label><br>
                <input class="heroSearch "type="text" >
                <button class="btnSearch">Brrrrrrr</button>
                <p>asd asd asd</p>
                <p>Data provided by coingecko</p>
            </div>
</section>



        <!--Top-10 Crypto Cards-->
        <section class="top10Cards">
            <hr class="shadow">
            <div class="align-mid">
                <h2>Top 10 mindenkori crypto 'arfolyam vagy mi</h2>
                <p>flavour text</p>
            </div>

            
            <div class="CoinCards">

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankOneCoin"><img class="CoinCardImage" src="@coins[0].Image"></a>
                            <p class="CoinCardName">@coins[0].Name (@coins[0].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[0].CurrentPrice</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankTwoCoin"><img class="CoinCardImage" src="@coins[1].Image"></a>
                            <p class="CoinCardName">@coins[1].Name (@coins[1].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[1].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankThreeCoin"><img class="CoinCardImage" src="@coins[2].Image"></a>
                            <p class="CoinCardName">@coins[2].Name (@coins[2].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[2].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankFourCoin"><img class="CoinCardImage" src="@coins[3].Image"></a>
                            <p class="CoinCardName">@coins[3].Name (@coins[3].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[3].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankFiveCoin"><img class="CoinCardImage" src="@coins[4].Image"></a>
                            <p class="CoinCardName">@coins[4].Name (@coins[4].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[4].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankSixCoin"><img class="CoinCardImage" src="@coins[5].Image"></a>
                            <p class="CoinCardName">@coins[5].Name (@coins[5].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[5].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankSevenCoin"><img class="CoinCardImage" src="@coins[6].Image"></a>
                            <p class="CoinCardName">@coins[6].Name (@coins[6].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[6].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankEightCoin"><img class="CoinCardImage" src="@coins[7].Image"></a>
                            <p class="CoinCardName">@coins[7].Name (@coins[7].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[7].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankNineCoin"><img class="CoinCardImage" src="@coins[8].Image"></a>
                            <p class="CoinCardName">@coins[8].Name (@coins[8].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[8].CurrentPrice</p>
                        </div> 
                    </div>
                </a>

                <a href="#" target="_blank">
                    <div class="card">

                        <div class="cardHeader">
                            <a asp-area="" asp-page="/CoinPages/RankTenCoin"><img class="CoinCardImage" src="@coins[9].Image"></a>
                            <p class="CoinCardName">@coins[9].Name (@coins[9].Symbol.ToUpper())</p>
                            <p class="CoinCardPrice">$@coins[9].CurrentPrice</p>
                        </div> 
                    </div>
                </a>
            </div>

        </section>


        
        <div class="temp">
            <h2 class="tw-text-2xl tw-font-medium">What is cryptocurrency market cap?</h2>
            <p>
            Market cap is one of the most popular metrics in the industry that is used to gauge the value of an asset. The market cap of a cryptocurrency is calculated based on the coin's total circulating supply multiplied by the current price. For detailed examples on how the market capitalization of a coin is calculated, please view our <a href="/en/methodology">methodology</a> page.
            </p>
            <h2 class="tw-text-2xl tw-font-medium">How can I use market cap?</h2>
            <p>As a financial metric, market cap allows you to compare the total circulating value of one cryptocurrency with another. Large cap cryptocurrencies such as Bitcoin and Ethereum have a market cap of over $10 billion. They typically consist of protocols that have demonstrated track record, and have a vibrant ecosystem of developers maintaining and enhancing the protocol, as well as building new projects on top of them. From a trading perspective, large caps would typically be hosted on more exchanges, have higher liquidity, and are less volatile when compared against other mid and small cap cryptocurrencies.</p> <p>While market cap is a simple and intuitive comparison metric, it is not a perfect point of comparison. Some cryptocurrency projects may appear to have inflated market cap through price swings and the tokenomics of their supply. As such, it is best to use this metric as a reference alongside other metrics such as trading volume, liquidity, fully diluted valuation, and fundamentals during your research process.</p>
            <h2 class="tw-text-2xl tw-font-medium">Is it possible to check crypto prices on mobile?</h2>
            <p>
            Yes, you can check crypto prices on mobile by using the CoinGecko app on <a href="https://gcko.io/coingecko-ios">iOS</a> and <a href="https://gcko.io/coingecko-android">Android</a>.
            </p>
            <h2 class="tw-text-2xl tw-font-medium">What are candlesticks in crypto charts?</h2>
            <p>
            Candlestick charts give an overview to traders on the price movement based on previous trends. The body of the candlestick shows where the price of a coin opened and closed for the particular period of time which the candlestick represents. If the candle is green in a crypto chart, it represents positive changes in price while red candle represents negative changes in price. The shadow indicates the high price and low price for the period.
            </p>
        </div>